@model IList<WebApp.Models.Menu.Menu>

@{
    ViewBag.Title = "メニューリスト";
}

<!-- Main Content -->
<main>
    <style>
        .button-col {
            width: 150px;
        }
    </style>
    <div class="container mb-auto">
        <p class="h1">
            @ViewBag.Title
        </p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="button-col">&nbsp;</th>
                    <th scope="col">メニューID</th>
                    <th scope="col">メニュー説明</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var menu in Model)
                {
                    <tr>
                        <td class="button-col">
                            <a class="btn btn-primary" href="practices/plan?menuId=@menu.MenuId" role="button" width="50px">
                                このメニュー実施
                            </a>
                        </td>
                        <td>
                            <a href="menu?id=@menu.MenuId">
                                @menu.MenuId
                            </a>
                        </td>
                        <td>
                            @menu.Description
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>